/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.button-pannel button {
    @apply border shadow hover:bg-[#d9d9d9];
    height: 36px;
    width: 36px;
    background: white;
    border-radius: 8px;
}